In [ ]:
#https://docs.scipy.org/doc/numpy/user/quickstart.html

In [1]:
#creating array
import numpy as np
a = np.array([1,2,3,4,5])
print(a)

[1 2 3 4 5]

In [4]:
#reading csv file
import pandas as pd
df = pd.read_csv(r'C:\Users\Riyuzaki\Desktop\ML COURSE\train1.csv')
print(df)

                                          Country Name Country Code  \
0                                          Afghanistan          AFG
1                                               Angola          AGO
2                                              Albania          ALB
3                                           Arab World          ARB
4                                 United Arab Emirates          ARE
5                                            Argentina          ARG
6                                              Armenia          ARM
7                                            Australia          AUS
8                                              Austria          AUT
9                                           Azerbaijan          AZE
10                                             Burundi          BDI
11                                             Belgium          BEL
12                                               Benin          BEN
13                                        Burkina Faso          BFA
14                                          Bangladesh          BGD
15                                            Bulgaria          BGR
16                                             Bahrain          BHR
17                                        Bahamas, The          BHS
18                              Bosnia and Herzegovina          BIH
19                                             Belarus          BLR
20                                              Belize          BLZ
21                                             Bolivia          BOL
22                                              Brazil          BRA
23                                            Barbados          BRB
24                                   Brunei Darussalam          BRN
25                                              Bhutan          BTN
26                                            Botswana          BWA
27                            Central African Republic          CAF
28                                              Canada          CAN
29                      Central Europe and the Baltics          CEB
..                                                 ...          ...
189         East Asia & Pacific (IDA & IBRD countries)          TEA
190       Europe & Central Asia (IDA & IBRD countries)          TEC
191                                               Togo          TGO
192                                           Thailand          THA
193                                         Tajikistan          TJK
194                                       Turkmenistan          TKM
195  Latin America & the Caribbean (IDA & IBRD coun...          TLA
196  Middle East & North Africa (IDA & IBRD countries)          TMN
197                                        Timor-Leste          TLS
198                            South Asia (IDA & IBRD)          TSA
199          Sub-Saharan Africa (IDA & IBRD countries)          TSS
200                                Trinidad and Tobago          TTO
201                                            Tunisia          TUN
202                                             Turkey          TUR
203                                           Tanzania          TZA
204                                             Uganda          UGA
205                                            Ukraine          UKR
206                                Upper middle income          UMC
207                                            Uruguay          URY
208                                      United States          USA
209                                         Uzbekistan          UZB
210                                      Venezuela, RB          VEN
211                                            Vietnam          VNM
212                                 West Bank and Gaza          PSE
213                                              World          WLD
214                                        Yemen, Rep.          YEM
215                                       South Africa          ZAF
216                                   Congo, Dem. Rep.          COD
217                                             Zambia          ZMB
218                                           Zimbabwe          ZWE

          2010       2011       2012       2013       2014
0    20.600000  20.900000  19.700001  21.100000  20.799999
1    10.800000  10.700000  10.700000  10.600000  10.500000
2    25.799999  27.000000  28.299999  28.700001  29.200001
3    25.022214  28.117516  29.113212  29.335306  29.704569
4     9.800000   9.800000   9.800000   9.900000  10.000000
5    19.500000  18.799999  18.400000  19.700001  21.299999
6    38.299999  38.700001  35.000000  32.500000  35.099998
7    11.400000  11.400000  11.700000  12.200000  13.100000
8     8.800000   8.200000   8.700000   9.100000   9.200000
9    14.600000  14.500000  14.300000  13.400000  13.600000
10   10.800000  10.800000  10.800000  10.800000  10.700000
11   22.500000  18.600000  19.700001  23.100000  23.600000
12    2.000000   2.000000   2.000000   1.800000   1.700000
13    5.200000   5.300000   5.200000   5.200000   5.000000
14    8.200000   8.200000   8.200000   8.900000   9.100000
15   22.900000  25.200001  28.200001  29.700001  25.900000
16   10.200000  11.400000  10.500000  10.600000  10.900000
17   36.000000  27.200001  30.400000  30.799999  30.100000
18   57.200001  57.099998  61.700001  57.400002  57.500000
19   13.200000  12.500000  11.800000  12.000000  12.000000
20   20.900000  24.299999  26.000000  22.400000  22.000000
21    6.000000   5.500000   5.500000   5.100000   5.200000
22   17.200001  15.200000  14.400000  14.700000  15.200000
23   25.299999  25.500000  26.500000  26.200001  26.799999
24   10.900000  10.900000  11.000000  11.300000  11.100000
25    8.400000   8.400000   6.400000  10.400000  10.000000
26   33.000000  33.200001  33.299999  32.799999  33.900002
27   10.800000  10.800000  10.700000  12.000000  11.900000
28   14.800000  14.100000  14.300000  13.800000  13.400000
29   24.558510  25.480771  26.322471  26.775459  24.326735
..         ...        ...        ...        ...        ...
189  11.010948  10.692483  10.893727  11.522896  11.806054
190  19.647734  19.002938  18.675706  18.284371  17.973493
191  10.800000  10.800000  10.700000  10.700000  10.700000
192   4.000000   2.900000   3.100000   3.200000   3.900000
193  17.299999  16.400000  15.400000  15.700000  15.500000
194  20.600000  21.000000  20.700001  20.600000  20.200001
195  15.166458  14.450044  13.707050  13.391827  14.041069
196  26.368876  29.578358  30.803950  31.105877  31.521788
197  13.100000  12.600000  13.400000  13.400000  14.000000
198   9.943293   9.995087  10.270674  10.189717  10.251149
199  14.652529  14.523908  14.503699  14.050604  14.124300
200  14.000000  11.200000  12.400000   9.100000  10.600000
201  29.400000  42.700001  32.799999  31.299999  31.799999
202  21.200001  17.900000  17.100000  16.500000  17.700001
203   5.600000   6.600000   6.000000   5.300000   5.500000
204   7.400000   7.400000   7.400000   7.400000   6.800000
205  17.400000  19.000000  17.299999  16.000000  16.900000
206  13.918079  13.779605  13.992812  14.086227  14.581009
207  20.799999  17.900000  18.500000  18.100000  19.100000
208  18.700001  17.400000  16.500000  15.800000  14.000000
209  20.600000  20.600000  20.600000  20.500000  20.299999
210  17.500000  17.400000  17.100000  14.800000  17.100000
211   6.100000   5.300000   5.000000   6.300000   6.300000
212  37.700001  34.099998  37.299999  38.700001  42.700001
213  13.784957  13.714673  13.874293  13.903832  13.987184
214  30.299999  30.000000  30.200001  30.200001  29.900000
215  50.799999  50.099998  52.200001  51.400002  52.599998
216  12.300000  12.300000  12.300000  12.200000  11.900000
217  26.400000  26.600000  26.600000  25.500000  25.100000
218   9.600000   8.300000   8.300000   8.900000   9.400000

[219 rows x 7 columns]

In [8]:
#numpy take < memory compare to list
import numpy as np
import time
import sys
s=range(1000)
print(sys.getsizeof(s)*len(s))
d=np.arange(1000)
print(d.size*d.itemsize)

24000
4000

In [12]:
#numpy take < time compare to list
import numpy as np
import time
import sys

l1 = range(100000)
l2 = range(100000)
a1 = np.arange(100000)
a2 = np.arange(100000)
start = time.time()
result = [(x,y) for x,y in zip(l1,l2)]
print((time.time()-start)*1000)
start=time.time()
result=a1+a2
print((time.time()-start)*1000)

21.999597549438477
10.000228881835938

In [13]:
#adding two list
a=[1,2,3,4]
b=[1,2,3,4]
for x,y in zip(a,b):
    print(x+y)

2
4
6
8